parameters:
	ignoreErrors:
		-
			message: '#Variable \$[a-zA-Z0-9\\_]+ might not be defined#'
			count: 18
			path: src/serve/exception/handlers/views/debug.php
		-
			message: '#Constructor of class [a-zA-Z0-9\\_]+ has an unused parameter#'
			count: 18
			path: src/mvc/controller/Controller.php
